{% load versioned_static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="description" content="{% block meta_description %}Canonical provides engineering, online and professional services to Ubuntu partners and customers worldwide. As the company behind the Ubuntu project, Canonical is committed to the production and support of Ubuntu – an ever-popular and fast-growing open-source operating system. It aims to ensure Ubuntu is available to every organisation and individual on servers, desktops, laptops and netbooks.{% endblock %}" />
  <meta name="author" content="Canonical" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="shortcut icon" href="{{ ASSET_SERVER_URL }}0843d517-favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ ASSET_SERVER_URL }}9864667f-apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ ASSET_SERVER_URL }}f2ddbdc6-apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ ASSET_SERVER_URL }}f193fb82-apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ ASSET_SERVER_URL }}205d458b-apple-touch-icon-precomposed.png">

  <link type="text/plain" rel="author" href="{% versioned_static 'files/humans.txt' %}" />

  <!-- google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic|Ubuntu+Mono' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}minified/styles.css" />

  <!-- cookie policy -->
  <script src="{{ STATIC_URL }}js/modules/cookie-policy.js"></script>

  </head>
  <body itemscope itemtype="http://schema.org/Product">

  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K92JCQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K92JCQ');</script>
  <!-- End Google Tag Manager -->


  <header class="global-nav">
    <div class="global-nav__primary-row-container">
      <div class="global-nav__primary-row">
        <div class="global-nav__primary-links-container">
          <a href="/" class="global-nav__logo"><img src="https://assets.ubuntu.com/v1/3c7954dd-logo-canonical-white.svg"></a>
          <a id="products-link" href="/products" class="global-nav__primary-link {% if level_1 == 'products' %}is-open{% endif %}">Products</a>
          <a id="partners-link" href="/partners" class="global-nav__primary-link {% if level_1 == 'partners' %}is-open{% endif %}">Partners</a>
          <a id="careers-link" href="/careers" class="global-nav__primary-link {% if level_1 == 'careers' %}is-open{% endif %}">Careers</a>
        </div>
        <a class="global-nav__primary-link">Login</a>
      </div>
    </div>
    <div class="global-nav__secondary-row-container">
      <div id="products-secondary-row" class="global-nav__secondary-row {% if level_1 == 'products' %}is-active{% endif %}">
        <a class="global-nav__secondary-link">Ubuntu</a>
        <a class="global-nav__secondary-link">MAAS</a>
        <a class="global-nav__secondary-link">Snaps</a>
      </div>
      <div id="partners-secondary-row" class="global-nav__secondary-row {% if level_1 == 'partners' %}is-active{% endif %}">
        <a class="global-nav__secondary-link">Public cloud</a>
        <a class="global-nav__secondary-link">OpenStack</a>
        <a class="global-nav__secondary-link">Charm</a>
        <a class="global-nav__secondary-link">Software</a>
        <a class="global-nav__secondary-link">Hardware</a>
        <a class="global-nav__secondary-link">Retail</a>
        <a class="global-nav__secondary-link">Channel</a>
        <a class="global-nav__secondary-link">IoT</a>
      </div>
      <div id="careers-secondary-row" class="global-nav__secondary-row {% if level_1 == 'careers' %}is-active{% endif %}">
        <a class="global-nav__secondary-link">All vacancies</a>
      </div>
    </div>
  </header>

  {% block header %}{% endblock %}

  {% block content_container %}
    {% block outer_content %}
    {% endblock outer_content %}
  {% endblock content_container %}

  {% include "_base/footer.html" %}

  <script>
    var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1);
    if(isOperaMini) {
      var root = document.documentElement;
      root.className += " opera-mini";
    }
  </script>

  <script src="{{ STATIC_URL }}js/core.js"></script>

  <!-- cookie policy -->
  <script>
    // Every page should show the cookie policy until accepted
    var options = {
      content: 'We use cookies to improve your experience of canonical.com. By continuing to explore without changing your settings, you are agreeing to accept them. To learn how to change these settings, please see our <a href="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy#cookies">privacy policy</a>.'
    }
    cpNs.cookiePolicy.setup(options);
  </script>

  {% block footer_extra %}{% endblock %}
  </body>
</html>

